body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

// v-list-item
.v-list-item:hover>.v-list-item__overlay {
    // background: green;
    // color: white;
    opacity: 0 !important;
}

// v-switch
.v-input__prepend,
.v-input__append {
    margin: 0 !important;
    min-width: 24px !important;
}

.v-switch.v-input {
    display: flex !important;
    gap: 4px !important;
}

.v-selection-control__input:hover::before {
    opacity: 0 !important;
}

// v-carousel
.v-window__controls {
    margin: 0 !important;
    padding: 0 !important;
}

// v-timeline
.v-timeline-item__body {
    padding: 0px !important;
    padding-left: 8px !important;
}

.v-timeline-item__opposite {
    display: none;
}

.v-timeline-divider {
    padding: 0 !important;
}